@font-face {
    font-family: 'circular-std-book';
    src: url(../fonts/Circular-Std-Book.ttf);
}

@font-face {
    font-family: 'circular-std-medium';
    src: url(../fonts/Circular-Std-Medium.ttf);
}

@font-face {
    font-family: 'circular-std-bold';
    src: url(../fonts/Circular-Std-Bold.ttf);
}

/* Button Styles */

button {
    outline: none;
}

button:focus {
    outline: none;
}

.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px;
}

.btn-lg {
    padding: 11px 20px;
    font-size: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #299cce;
    border-color: #299cce;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #3a99c2 !important;
    border-color: #3a99c2 !important;
    box-shadow: none;
}

.btn-sm {
    padding: 5px 12px;
    font-size: 14px;
}

.btn-rounded {
    border-radius: 100px;
}

.btn-cancel {
    color: #299cce;
}

/* Button Styles End */


/* Actions Buttons */
.action_btns .common-btn{
    color: white !important;
    font-size: 12px !important;
    width: 90px !important;
    padding: 4px 0; 
    display: inline-block;
    border-radius: 50px;
}
.action_btns .common-btn i{
    padding-right:5px;
}
.action_btns .green-btn{
    background-color: #40d0a2;
    border: #40d0a2;
}
.action_btns .red-btn{
    background-color: #ef7373;
    border: #ef7373;
}


.actions_btn .common-icon-btn {
    background: #299cce;
    padding: 0;
    border-radius: 32px;
    width: 50px;
    display: inline-flex;
    height: 29px;
    align-items: center;
    justify-content: center;
}
.actions_btn .blue-icon-btn{
    background: #299cce;
}






/* End Actions Buttons */




/* General Styles */

body {
    font-family: 'circular-std-book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #71748d;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'circular-std-medium';
}

h2 {
    font-size: 28px;
    line-height: 30px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color: #71748d;
}

a {
    color: #71748d;
}

.card {
    margin-bottom: 30px;
    border: none;
}

.card-header {
    color: #299cce;
    background-color: #fff;
    border-bottom: none;
    font-family: 'circular-std-bold';
    padding: 10px 5px !important;
}

.form-group {
    margin-bottom: 12px;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}

.form-control-lg {
    padding: 12px;
}

.custom-control {
    position: relative;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    position: static;
    display: inline-block;
    line-height: 2;
    margin-bottom: 0;
}

.custom-control-label::before {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border: 2px solid #d2d2e4;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #15cdd6;
    border-color: #15cdd6;
}

.custom-control-label::after {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f6f6ff;
}

.card-footer-item {
    padding: 12px 35px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    display: inline-block;
}

.dashboard-main-wrapper {
    min-height: 100%;
    padding-top: 90px;
    position: relative;
}

.dashboard-wrapper {
    position: relative;
    left: 0;
    margin-left: 255px;
    margin-right: 10px;
    min-height: 870px !important;
}

.dropdown-menu {
    background: #fff;
    font-size: 14px;
    color: #3d405c;
    border: 1px solid #e6e6f2;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3d405c;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    color: #299cce;
    background: #efeff6;
}

.nav-user-name {
    color: #299cce;
}

.text-dblue {
    color: #245777 !important;
}
.coupon-overview-new .coupon-card-main-h {
    font-size: 50px;
    color: #299cce;
    line-height: 1;
}

.coupon-overview-new .box-1 {
    border: 1px solid #afc6d1;
    border-radius: 5px;
    height: 100%;
    margin: 0;
}

/**********************************
        Custom Table  
***********************************/

.table-new .table {
    border-collapse: separate;
    border-spacing: 0 5px;
    padding: 5px;
    border-bottom: 0px !important;
}

.table-new .table th, .table-new .table td {
    border: none;
    text-align: center;
}

.table-new .table thead tr th {
    background-color: #299cce;
    color: #fff;
    padding: 12px 20px;
    font-weight: 500;
    font-family: 'circular-std-book';
    vertical-align: middle;
    line-height: normal;
}

.table-new .table tr td:first-child, .table-new .table tr th:first-child {
    border-radius: 10px 0px 0px 10px;
}

.table-new .table tr td:last-child, .table-new .table tr th:last-child {
    border-radius: 0px 10px 10px 0px;
}

.table-new .table tbody tr {
    box-shadow: 0px 2px 4px #0476d033;
    -webkit-box-shadow: 0px 2px 4px #0476d033;
    -moz-box-shadow: 0px 6px 17px #0476d033;
    border-radius: 10px;
}

.table-new .table td {
    color: #383338;
    font-size: 14px;
    padding: 7px 10px;
}

.table-new .table tr td:first-child, .table-new .table tr th:first-child {
    border-radius: 10px 0px 0px 10px;
}

.table-new .table tr td:last-child, .table-new .table tr th:last-child {
    border-radius: 0px 10px 10px 0px;
}


.table-new .table td .active, .table-new .table td .generated{
    padding: 5px;
    border-radius: 100px;
    background-color: #beeaaf;
    color: #2c7514;
    width: 70px;
    font-size: 13px;
}


.table-new .table td a {
    margin-right: 5px;
    color: #299cce;
    font-size: 14px;
}

.table-new .table td .inactive,
.table-new .table td .reallocated {
    padding: 5px;
    border-radius: 100px;
    background-color: #eaafaf;
    color: #cb2d2d;
    width: 100px;
    font-size: 13px;
}


/**********************************
        End Custom Table  
***********************************/
 

/**********************************
        Modal Box 
***********************************/
.modal-dialog {
    max-width: 900px;
    /* margin: 10px auto; */
    border-radius: 25px;
}

.modal-content {
    border-radius: 25px;
}

.modal-body {
    padding: 45px 60px;
}

.modal-heading {
    color: #299cce;
    font-size: 22px;
    font-family: 'circular-std-book';
    margin-bottom: 20px;
}

.modal-form-group label {
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.modal-form-group input {
    outline: none !important;
}

.modal-form-group .form-control, .modal-form-group select, .modal-form-group .select2 {
    max-width: 230px !important;
    border: 1px solid #299cce !important;
    border-radius: 5px !important;
    color: #299cce !important;
}

/**********************************
        End Modal Box 
***********************************/

.table {
    margin-bottom: 0px;
}

.table td, .table th {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid #e6e6f2;
    font-weight: normal;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 230, 242, .5);
}

.table thead th, .table th {
    color: #3d405c;
    font-family: 'circular-std-medium';
}

/* General Styles End */

/* Header Styles */

.top-nav {
    justify-content: space-between;
    margin-left: calc(245px);
    padding: 16px 19px;
    background: #ffff;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.top-nav .dropdown button {
    background: #ffffff;
    border: 0;
    cursor: pointer;
    box-shadow: none;
    padding: 1px 6px;
}

.top-nav .dropdown button:active {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
}

.top-nav .dropdown button .svg-arrow {
    margin-left: 5px;
    line-height: 0;
}

.top-nav .dropdown .dropdown-toggle::after {
    display: none;
}

.top-nav .dropdown .dropdown-menu {
    padding-top: 0;
}

.top-nav .dropdown .dropdown-menu .dropdown-item {
    padding: 0.60rem 1rem;
}

.top-nav .dropdown .dropdown-menu .dropdown-item:hover {
    background: #efeff6;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}

.dashboard-header .header-search {
    position: relative;
    min-width: 450px;
}

.dashboard-header .header-search input {
    width: 100%;
    border: none;
    background-color: #ecf2f6;
    padding: 9px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}

.dashboard-header .header-search svg {
    position: absolute;
    right: 17px;
    top: 11px;
}

/* Header Styles End */

/* Sidebar Styles */

.slimScrollDiv {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
}

.slimScrollBar {
    background: rgb(0, 0, 0);
    width: 7px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 660px;
}

.slimScrollRail {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    background: rgb(51, 51, 51);
    opacity: 0.2;
    z-index: 90;
    right: 1px;
}

.menu-list {
    overflow: hidden;
    width: auto;
    height: 100%;
}

.show-version {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 14.28px);
    color: #fff;
    font-size: 15px;
}

.nav-left-sidebar {
    position: fixed;
    width: 245px;
    height: 100%;
    top: 0px;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    z-index: 99;
}

.nav-left-sidebar .navbar {
    position: relative;
    padding: 14px;
    padding-right: 0px;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

.nav-left-sidebar .navbar-nav .logo-inner {
    padding: 6px 0px 6px 10px;
}

.nav-left-sidebar .navbar-nav .logo-inner img {
    max-width: 100%;
}

.nav-left-sidebar .navbar-nav li {
    margin-top: 15px;
}

.nav-left-sidebar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 12px;
    /* margin-bottom: 2px; */
    color: #71789e;
    transition: 0.3s;
}

.sidebar-dark {
    background-color: #245777;
    -webkit-transition: all 0.3s ease;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.active {
    position: relative;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.active:before {
    content: '';
    position: absolute;
    border-radius: 0px 0px 7px 0px;
    width: 16%;
    height: 12px;
    background: #245777;
    right: 0px;
    bottom: 45px;
    z-index: -1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.active:after {
    content: '';
    position: absolute;
    border-radius: 0px 7px 0px 0px;
    width: 16%;
    height: 10px;
    background: #245777;
    right: 0px;
    bottom: -10px;
    z-index: -1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
    color: #fff;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
    padding-left: 15px;
    padding-right: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #fff;
    color: #13729b;
    position: relative;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active:before {
    content: '';
    position: absolute;
    width: 16%;
    height: 145%;
    background: #fff;
    right: 0px;
    bottom: -10px;
    z-index: -2;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .icon {
    margin-right: 10px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link .icon {
    filter: brightness(0) invert(1);
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus .icon.single, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .icon {
    filter: none;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link span {
    width: 70%;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .nav-link:focus {
    background-color: transparent;
    color: #fff;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.active .nav-link {
    background-color: #fff;
    color: #13729b;
    border-radius: 6px 0px 0px 6px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show:before {
    content: '';
    position: absolute;
    width: 16%;
    height: 10px;
    background: #fff;
    right: 0px;
    bottom: 46px;
    z-index: -2;
    border-radius: 0px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show:after {
    content: '';
    position: absolute;
    border-radius: 0px 0px 7px 0px;
    width: 16%;
    height: 10px;
    background: #245777;
    right: 0px;
    bottom: 46px;
    z-index: -1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .nav-link {
    background-color: #fff;
    color: #13729b;
    border-radius: 6px 0px 0px 0px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus .icon.single, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .icon {
    filter: none;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link .arrow {
    position: absolute;
    right: 25px;
    transition: ease all .4s;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.close-arrow {
    opacity: 1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.open-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link .arrow.open-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.open-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.open-arrow {
    opacity: 1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.open-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.active .arrow.close-active-arrow {
    opacity: 1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-arrow, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .arrow.close-active-arrow {
    opacity: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
    margin: 0px;
    border: none;
    border-radius: 0px 0px 0px 6px;
    padding: 5px 10px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu a {
    text-decoration: none;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu.show {
    margin-bottom: 30px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu.show:before {
    content: '';
    position: absolute;
    width: 16%;
    height: 10px;
    background: #fff;
    right: 0px;
    bottom: -10px;
    z-index: -2;
    border-radius: 0px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu.show:after {
    content: '';
    position: absolute;
    border-radius: 0px 7px 0px 0px;
    width: 16%;
    height: 10px;
    background: #245777;
    right: 0px;
    bottom: -10px;
    z-index: -1;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu .dropdown-item {
    color: #13729b;
    border-radius: 30px;
    padding: 8px 15px;
    margin-top: 3px;
    cursor: pointer;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus .icon.single, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.active .icon, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-item.dropdown.show .icon {
    filter: none;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu .dropdown-item.active, .sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu .dropdown-item:hover, .sidebar-dark.nav-left-sidebar .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #dff0f8;
}

/* Sidebar Styles End */

/* Login Styles */

.bgcover {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
}

.bgcover .splash-container {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
}

.bgcover .splash-container .card-footer-item {
    padding: 12px 28px;
}

.bgcover .splash-description {
    text-align: center;
    display: block;
    line-height: 20px;
    font-size: 1rem;
    margin-top: 5px;
    padding-bottom: 10px;
}

/* Login Styles End */

/* Dashboard Styles */

.dashboard-portal .table-main {
    margin-top: 40px;
}

.dashboard-portal .table-main .nav-tabs {
    border-bottom: none;
}

.dashboard-portal .table-main .nav-tabs li a {
    padding: 15px 20px;
    font-size: 15px;
    color: #383338;
    display: block;
    position: relative;
    cursor: pointer;
    border: 0;
}

.dashboard-portal .table-main .nav-tabs li a.active {
    border: 1px solid #afc6d1;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    color: #3691d8;
}

.dashboard-portal .table-main .tab-content {
    border: 1px solid #afc6d1;
    border-radius: 0px 6px 6px 6px;
    padding: 15px 25px;
}

/* Dashboard Styles End */

/* Doctor Tab Styles */

.search-filter input[type="text"] {
    background: url(../images/icons/search-icon.svg) no-repeat;
    border-radius: 50px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 3px #0476d033;
    height: 40px;
    padding-left: 18px;
    background-position: 98% 11px;
    margin-bottom: 10px;
    width: calc(100% - 14px);
    transition: ease all .3s;
    font-family: 'circular-std-book';
}

.search-filter input[type="text"]::placeholder {
    color:#299dceb6 !important;
}

/* Doctor Tab Styles End */






/**********************************
        Sales Referral Table
***********************************/
.ref-id input{
    width: 75px;
    margin-right: 5px;
    border: 0;
}

.ref-id input:focus{
    border: 0;
    box-shadow: none;
    outline: none;
}